body,
html {
  margin: 0 auto;
  padding: 0;
  width: 550px;
}
#body {
  background: linear-gradient(180deg, #fff 0%, #f6f7fb 100%);
  padding: 8px;
}
header {
  display: flex;
  height: 81px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 24 23 23 18;
  align-items: center;
}

.logo {
  height: 2.6rem;
}

.icon {
  height: 2rem;
}
section {
  display: flex;
  height: 750px;
  background-size: cover;
  color: #f8f8f8;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 112.5% */
  justify-content: end;
  flex-direction: column;
  padding: 12px 16px;
  border-radius: 15px;
}
#bio {
  color: #b7b7b7;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.bttm-icons {
  display: flex;
  justify-content: center;
}
.bttm-icons img {
  margin: 24px;
  cursor: pointer;
  background: #FFFFFF;
  padding: 30px;
  border-radius: 45%;
}
